* {
  margin: 0;
  padding: 0;
  border: 0;
}

@import url(color.css);

h1,
h2,
h3,
span,
a,
p {
  font-family: "Rubik", sans-serif;
}

body {
  background-color: var(--c10);
}

h1 {
  color: var(--white);
  font-size: 1.3em;
  margin: auto 0;
}

.cc-contnr {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--borders);
  justify-content: space-between;
}

.logo-title-item,
.button-section {
  display: flex;
  text-decoration: none;
  padding: 0.6em;
  gap: 0.7em;
}

.button-section > div {
  padding: 0 1em;
}

.separeted {
  border-left: 1px solid var(--borders);
  border-right: 1px solid var(--borders);
}

.session-btn,
.style-chng {
  text-decoration: none;
  color: var(--white);
  padding: 0.7em;
}

.session-btn {
  border: 1px solid var(--borders);
  border-radius: 4px;
}

.session-btn:hover,
.style-chng:hover {
  background: var(--borders);
  color: var(--white);
}

.style-chng:hover {
  border-radius: 50% 50%;
}

.logo-title-item > img {
  height: 100%;
  margin: auto;
}
.cc-contnr > div {
  margin: auto 0;
}

.cc-contnr::after {
  background-image: linear-gradient(
    -225deg,
    var(--c10) 0%,
    var(--purp1) 60%,
    var(--purp3) 100%
  );
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  margin: 0 auto;
  z-index: -1;
  filter: blur(50px);
  background-size: 400%;
  /* animation: gradient 20s ease infinite; Bottom glow navbar*/
}

.cc-color-other {
  background-size: 400%;
  animation: gradient 20s ease infinite;
}

.cc-color {
  /* background-image: linear-gradient(
    -225deg,
    var(--c10) 0%,  GRADIENT
    var(--purp1) 60%,
    var(--purp3) 100%
  ); */
  background-color: var(--c10);
  background-size: 400%;
  /* animation: gradient 20s ease infinite; Nav color animation*/
}

.banner {
  position: relative;
  background-image: linear-gradient(
      180deg,
      rgba(71, 40, 134, 0.452) 1%,
      rgba(0, 0, 0, 0) 51%
    ),
    linear-gradient(0deg, rgba(71, 40, 134, 0.452) 1%, rgba(0, 0, 0, 0) 51%),
    url("../img/banner-sample.png");
  background-size: cover;
  background-position: center left;
  height: 325px;
  border-radius: 5px 5px 0 0;
}

main > * {
  margin: 2em;
}

.about,
.experience,
.education {
  border: 1px solid var(--borders);
  border-radius: 5px 5px 5px 5px;
  color: var(--white);
  padding: 2em;
}

.section-banner {
  padding-bottom: 2em;
}

.profileimg-banner {
  position: absolute;
  top: 320px;
  left: 70px;
  right: 0;
  width: 150px;
  height: 150px;
}

.profileimg-banner {
  border-radius: 50%;
  border: 7px solid var(--c10);
  background-image: url("../img/img-sample.jpg");
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
}

.algo {
  border: 1px solid var(--borders);
  border-radius: 5px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
