.style-changer {
  display: flex;
  position: fixed;
  bottom: calc(5vh - 14px);
  left: 2vw;
  background-color: hsla(0, 0%, 100%, 0.01);
  backdrop-filter: blur(2px);
  border: 1px solid var(--cborder);
  z-index: 1000;
}

.unpressed {
  border-radius: 50%;
}

.pressed {
  width: 17.5rem;
  border-radius: 23px;
}

.pressed i.open,
.unpressed i.close {
  display: none;
}

.colorBlack {
  background-color: var(--cblack);
  border: 1px solid var(--wTr);
  margin-left: unset;
}

.colorGreenB {
  background: var(--cgreen);
  border: 1px solid var(--wTr);
}

.colorWhite {
  background-color: #fcfcfc;
  border: 1px solid var(--bTr);
}

.colorCharcoal {
  background: var(--ccharcoal);
  border: 1px solid var(--bTr);
}

.colorPinkB {
  background-color: var(--cpink);
  border: 1px solid var(--bTr);
}

.colorRed {
  background-color: var(--cred);
  border: 1px solid var(--wTr);
}

.colorArea div {
  border-radius: 50%;
  width: 1.7em;
  height: 1.7em;
  margin-left: 0.7em;
}

.pressed.colorArea div {
  position: absolute;
}

.btn-st i {
  display: flex;
}

.btn-st {
  background-color: unset;
  border: none !important;
  border-radius: 50%;
  font-size: 1.7em;
  position: relative;
  padding: 8px;
}

.color-List {
  display: flex;
  list-style: none;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 19%;
  left: 0;
  width: 0;
  overflow: hidden;
}

.pressed .color-List {
  left: 13%;
  width: fit-content;
}
