<app-cursor></app-cursor>
<button class="btn return-btn" (click)="homePage()">Volver</button>
<div class="wrapper">
    <div class="container mw-50 w-100 h-100">
        <div class="mt-5 pt-4">
            <form class="form p-4 login-form" method="POST">
                <h2 class="text-center mt-4 mb-4">Log in</h2>
                <p class="text-center">Ingrese su usuario y contraseña</p>
                <fieldset class="input-container p-2">
                    <div id="form-control-container">
                        <div class="form-floating mb-4">
                            <input type="text" [(ngModel)]='loginData.username' name="username" class="form-control"
                                id="floatingInput" placeholder="example" required>
                            <label for="floatingInput">Usuario</label>
                        </div>
                        <div class="form-floating mb-2" id="pass-inp">
                            <input type="password" [(ngModel)]='loginData.password' name="password" class="form-control"
                                id="floatingPassword" placeholder="example" required>
                            <label for="floatingPassword">Contraseña</label>
                        </div>
                    </div>
                    <button type="submit" (click)="send()" class="btn btn-prim d-flex m-auto mt-4">Ingresar</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>