<div>
    <div>
        <img src="../../../assets/banner-sample.png" alt="" class="banner">
        <img src="../../../assets/img-sample.jpg" alt="" class="profile-img">
        <button type="button" class="edit-profile btn-edit"><i class="fa-solid fa-pen-to-square"></i></button>
    </div>
    <div class="info-btn cont-padd">
        <div class="info-main d-flex row pb-2">
            <div class="col-md-5 col-sm-12">
                <p id="slname">IGNACIO LORENZO</p>
                <p class="sprof"><span>Jr. Full Stack Developer</span></p>
                <p class="swhr"><span>Tucuman (Argentina)</span></p>
            </div>
            <div class="d-flex flex-md-column flex-sm-row col-md-7 col-12 justify-content-center spc">
                <img src="../../../assets/unt-logo.png" alt="" class="logo-badge p-1 align-self-md-end">
                <img src="../../../assets/unt-logo.png" alt="" class="logo-badge p-1 align-self-md-end">
            </div>
        </div>
        <div class="d-flex justify-content-center justify-content-md-start">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn">Intereses</button>
                <button type="button" class="btn">Añadir</button>
                <div class="btn-group" role="group">
                    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
                        alt="Desplegable">
                        Más
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Opcion 1</a></li>
                        <li><a class="dropdown-item" href="#">Opcion 2</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>