@media (min-width: 950px) {
  #cursor {
    position: fixed;
    background: white;
    pointer-events: none;
    width: 20px;
    height: 20px;
    mix-blend-mode: difference;
    border-radius: 50%;
    z-index: 10000;
    transition: top 200ms, left 200ms;
    transition-timing-function: ease-out;
  }

  .normal {
    animation: deblob 0.3s;
    transform: scale(1);
  }

  .ontext {
    animation: blob 0.3s;
    transform: scale(2);
  }

  @keyframes deblob {
    from {
      transform: scale(2);
    }
    to {
      transform: scale(1);
    }
  }

  @keyframes blob {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(2);
    }
  }
}
