<div class="c-padding-2 c-margin-bottom-1">
    <div class="d-flex justify-content-between">
        <h3 class="header-color">Acerca de mí</h3>
        <button *ngIf="isSessionOn" type="button" class="btn-edit fa-btn"><i
                class="fa-solid fa-pen-to-square"></i></button>
    </div>
    <p>
        {{persona.sobreMi}}
    </p>
</div>
<div class="c-padding-2 c-margin-bottom-1">
    <div class="d-flex justify-content-between">
        <h3 class="header-color">Educacion</h3>
        <button id="addEduc" data-type-edit="Agregar Educacion" *ngIf="isSessionOn" type="button" class="fa-btn"
            data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-plus"></i></button>
    </div>
    <div class="d-flex flex-column mt-2">
        <div id="educacion">
        </div>
    </div>
</div>
<div class="c-padding-2 c-margin-bottom-1">
    <div class="d-flex justify-content-between">
        <h3 class="header-color">Experiencia</h3>
        <button id="addExp" data-type-edit="Agregar Experiencia" *ngIf="isSessionOn" type="button" class="fa-btn"
            data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-plus"></i></button>
    </div>
    <div class="d-flex flex-column mt-2">
        <div id="experiencia">
        </div>
    </div>
</div>
<div class="c-padding-2 c-margin-bottom-1">
    <app-hard-soft-skills></app-hard-soft-skills>
</div>
<div class="c-padding-2 c-margin-bottom-1">
    <app-proyects></app-proyects>
</div>