<div class="c-padding-2 c-margin-bottom-1">
    <div class="d-flex justify-content-between">
        <h3>Acerca de mí</h3>
        <button type="button" class="btn-edit"><i class="fa-solid fa-pen-to-square"></i></button>
    </div>
    <p>
        {{myPortfolio.about}}
    </p>
</div>
<div class="c-padding-2 c-margin-bottom-1">
    <div class="d-flex justify-content-between">
        <h3>Educacion</h3>
        <button type="button" class="btn-edit"><i class="fa-solid fa-pen-to-square"></i></button>
    </div>
    <div>
        <p>
            [[IMAGEN]] {{myPortfolio.education.highschool.name}} -
            {{myPortfolio.education.highschool.orientation}} ({{myPortfolio.education.highschool.state}})
        </p>
        <p>
            [[IMAGEN]] {{myPortfolio.education.university.name}} - {{myPortfolio.education.university.career}}
            ({{myPortfolio.education.university.state}})
        </p>
    </div>
</div>
<div class="c-padding-2 c-margin-bottom-1">
    <div class="d-flex justify-content-between">
        <h3>Experiencia</h3>
        <button type="button" class="btn-edit"><i class="fa-solid fa-pen-to-square"></i></button>
    </div>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, sit deleniti? Necessitatibus modi tempore
        minus
        veniam quasi eius dolores enim reprehenderit aut, deserunt nobis praesentium. Dolore vitae odit iusto modi!
    </p>
</div>