:root {
  --neutral: #0d0d0d;
  --cfont: #fcfcfc;
  --cborder: #ffffff1a;
  --cfilterBW: none;

  --primary: #ff053f;
  --secundary: #00e5b0;

  /*-- Neutral Colors --*/
  --cwhite: #fcfcfc;
  --cblack: #0d0d0d;
  --cgreen: #0d1811;
  --ccharcoal: #36454f;
  --cpink: #bfa3aa;

  /* Image Filters for each different color style*/
  /* This ones are only tested and created only for white images.*/
  /* So theres no actual knowledge if works propperly on other colored images*/

  /* Pink Filter*/
  --pfilter: brightness(26%) sepia(1) saturate(202%) hue-rotate(-73deg);

  /* Charcoal Filter*/
  --cCfilter: brightness(59%) sepia(1) saturate(45%) hue-rotate(175deg);

  /* Green Filter*/
  --gfilter: brightness(35%) sepia(1) saturate(540%) hue-rotate(95deg);

  /*-- Color Font -- WCAG AA Checked*/

  --charcoalfont: #adbbc7;
  --pinkfont: #764753;
  --greenfont: #109345;

  /*-- Borders --*/
  /**/
  --dborder: #ffffff1a;
  --bborder: #00000052;
  --pborder: #b28590;
  --gborder: #0c7235;

  /*-- Primarys/Secondarys (P/S)--*/
  /* Black has the Default ones */

  --dprim: #ff053f;
  --dsec: #00e5b0;

  /* Charcoal P/S */
  --cCprim: #262626;
  --cCsec: #8f8f8f;

  /* Green P/S */
  --gprim: #62317d;
  --gsec: #109345;

  /* White P/S */
  --wprim: gray;
  --wsec: black;

  /*--FONTS/bootstrap--*/
  --bs-body-font-family: "Mona-Sans";
}

* {
  transition: background 600ms;
  transition: background-color 600ms;
  -moz-transition: background-color 600ms; /* Firefox 4 */
  -webkit-transition: background-color 600ms; /* Safari and Chrome */
  -o-transition: background-color 600ms;
}

@font-face {
  font-family: "Hubot-Sans-EBWI";
  src: url("assets/font/Hubot-Sans-ExtraBoldWideItalic.ttf");
}

@font-face {
  font-family: "Mona-Sans";
  src: url("assets/font/Mona-Sans-Medium.ttf");
}

html *,
[type="button"] {
  cursor: none !important;
}

h3 {
  font-weight: 600 !important;
}

h1,
h2,
h3,
h4 {
  font-family: "Hubot-Sans-EBWI";
}

p,
button,
a {
  font-family: "Mona-Sans";
}

h1,
h2,
h3,
h4,
p,
i,
.dropdown-item,
.btn {
  color: var(--cfont) !important;
}

.btn-edit:hover i {
  transform: scale(1.07);
}

body,
.dropdown-menu {
  background: var(--neutral) !important;
  background-attachment: fixed;
  background-position: center;
}

.main-container > * > * {
  border: 1px solid var(--cborder) !important;
  border-radius: 5px;
}

.c-padding-2 {
  padding: 2em;
}

.c-margin-bottom-1 {
  margin-bottom: 1em;
}

.btn,
.dropdown-menu {
  border: 1px solid var(--cborder) !important;
}

.dropdown-item {
  --bs-dropdown-link-active-bg: var(--ohasec);
  --bs-dropdown-link-hover-bg: var(--cborder);
}

.btn-sec {
  border-color: var(--secundary) !important;
  color: var(--secundary) !important;
  font-weight: bold;
}

.btn.sec:hover {
  background-color: var(--secundary) !important;
}

.btn-prim {
  color: var(--primary) !important;
  border-color: var(--primary) !important;
  font-weight: bold;
}

.btn.prim:hover {
  background-color: var(--primary) !important;
}

.btn-edit {
  background-color: unset;
  border: unset;
  width: fit-content;
}

button:hover ~ .cursor,
[type="button"]:hover ~ .cursor {
  transform: scale(2.5);
}

.logo {
  width: 90px;
  user-select: none;
  filter: var(--cfilterBW);
}
