.navbar,
.navbar-brand {
  padding: unset;
  margin: unset;
}

.navbar {
  border-bottom: 1px solid rgb(255, 255, 255, 0.1) !important;
}

a {
  color: white;
  font-size: 1.3em;
}

a:hover {
  color: white;
}
