<div class="style-changer unpressed">
    <button type="button" class="btn-st" (click)="onClick()">
        <i class="fa-solid fa-circle-half-stroke open"></i>
        <i class="fa-regular fa-circle-xmark close"></i>
    </button>
    <ul class="color-List">
        <li class="colorArea"><div class="colorBlack colorSph"></div></li>
        <li class="colorArea"><div class="colorWhite colorSph"></div></li>
        <li class="colorArea"><div class="colorPinkB colorSph"></div></li>
        <li class="colorArea"><div class="colorCharcoal colorSph"></div></li>
        <li class="colorArea"><div class="colorGreenB colorSph"></div></li>
        <li class="colorArea"><div class="colorRed colorSph"></div></li>
    </ul>
</div>