<div class="modal" id="confirmModal" tabindex="-1" aria-labelledby="confirmModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="confirmModalLabel">Modal title</h1>
                <button type="button" class="fa-btn" data-bs-dismiss="modal" aria-label="Close" (click)="cerrar()">
                    <i class="fa-solid fa-xmark"></i></button>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sec" data-bs-dismiss="modal" (click)="cerrar()">Cerrar</button>
                <button type="button" class="btn btn-prim" (click)="send()">Confirmar</button>
            </div>
        </div>
    </div>
</div>