<h3>Hard & Soft Skills</h3>
<div class="row">
    <div class="col-md-4 col-lg-4 col-sm-4 text-center">
        <circle-progress [percent]="94" [radius]="50" [space]="8" [title]="'HTML'" [showUnits]="false"
            [showImage]="true" [imageSrc]="'../assets/img/html.png'" [imageHeight]="50" [imageWidth]="50"
            [outerStrokeWidth]="4" [innerStrokeWidth]="2" [outerStrokeColor]="'var(--secundary)'"
            [innerStrokeColor]="'var(--primary)'" [animation]="true" [animationDuration]="300"
            class="circle-progress-img">
        </circle-progress>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4 text-center">
        <circle-progress [percent]="85" [radius]="50" [space]="8" [title]="'CSS'" [showUnits]="false" [showImage]="true"
            [imageSrc]="'../assets/img/css-logo.png'" [imageHeight]="50" [imageWidth]="40" [outerStrokeWidth]="4"
            [innerStrokeWidth]="2" [outerStrokeColor]="'var(--secundary)'" [innerStrokeColor]="'var(--primary)'"
            [animation]="true" [animationDuration]="300" class="circle-progress-img">
        </circle-progress>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4 text-center">
        <circle-progress [percent]="60" [radius]="50" [space]="8" [title]="'JavaScript'" [showUnits]="false"
            [showImage]="true" [imageSrc]="'../assets/img/JavaScript-logo.png'" [imageHeight]="40" [imageWidth]="40"
            [outerStrokeWidth]="4" [innerStrokeWidth]="2" [outerStrokeColor]="'var(--secundary)'"
            [innerStrokeColor]="'var(--primary)'" [animation]="true" [animationDuration]="300"
            class="circle-progress-img">
        </circle-progress>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4 text-center">
        <circle-progress [percent]="70" [radius]="50" [space]="8" [title]="'Github'" [showUnits]="false"
            [showImage]="true" [imageSrc]="'../assets/img/github.png'" [imageHeight]="50" [imageWidth]="50"
            [outerStrokeWidth]="4" [innerStrokeWidth]="2" [outerStrokeColor]="'var(--secundary)'"
            [innerStrokeColor]="'var(--primary)'" [animation]="true" [animationDuration]="300"
            class="circle-progress-img">
        </circle-progress>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4 text-center">
        <circle-progress [percent]="90" [radius]="50" [space]="8" [title]="'PHP'" [showUnits]="false" [showImage]="true"
            [imageSrc]="'../assets/img/php-logo.png'" [imageHeight]="30" [imageWidth]="50" [outerStrokeWidth]="4"
            [innerStrokeWidth]="2" [outerStrokeColor]="'var(--secundary)'" [innerStrokeColor]="'var(--primary)'"
            [animation]="true" [animationDuration]="300" class="circle-progress-img" alt="Trabajo Grupal">
        </circle-progress>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4 text-center">
        <circle-progress [percent]="70" [radius]="50" [space]="8" [title]="'C'" [showUnits]="false" [showImage]="true"
            [imageSrc]="'../assets/img/c-logo.png'" [imageHeight]="60" [imageWidth]="50" [outerStrokeWidth]="4"
            [innerStrokeWidth]="2" [outerStrokeColor]="'var(--secundary)'" [innerStrokeColor]="'var(--primary)'"
            [animation]="true" [animationDuration]="300" class="circle-progress-img" alt="Trabajo Grupal">
        </circle-progress>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4 text-center">
        <circle-progress [percent]="85" [radius]="50" [space]="8" [title]="'Ingles'" [showUnits]="false"
            [showImage]="true" [imageSrc]="'../assets/img/idioma.png'" [imageHeight]="70" [imageWidth]="70"
            [outerStrokeWidth]="4" [innerStrokeWidth]="2" [outerStrokeColor]="'var(--secundary)'"
            [innerStrokeColor]="'var(--primary)'" [animation]="true" [animationDuration]="300"
            class="circle-progress-img">
        </circle-progress>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4 text-center">
        <circle-progress [percent]="100" [radius]="50" [space]="8" [title]="'Trabajo Grupal'" [showUnits]="false"
            [showImage]="true" [imageSrc]="'../assets/img/trabajo-grupal.png'" [imageHeight]="70" [imageWidth]="50"
            [outerStrokeWidth]="4" [innerStrokeWidth]="2" [outerStrokeColor]="'var(--secundary)'"
            [innerStrokeColor]="'var(--primary)'" [animation]="true" [animationDuration]="300"
            class="circle-progress-img" alt="Trabajo Grupal">
        </circle-progress>
    </div>
</div>