:root {
  --neutral: #0d0d0d;
  --cfont: #fcfcfc;
  --cborder: #ffffff1a;
  --cfilterBW: none;
  --hoverPrim: #ff003736;
  --hoverSec: #ffffff1a;
  --primary: #ff0037;
  --secundary: var(--cwhite);
  --header: var(--cwhite);
  --slName: #ff0037;
  /*-- Neutral Colors --*/

  --cblack: #0d0d0d;
  --cwhite: #fcfcfc;
  --cpink: #bfa3aa;
  --ccharcoal: #36454f;
  --cgreen: #0d1811;
  --cred: #1a0000;

  /* Image Filters for each different color style*/
  /* This ones are only tested and created only for white images.*/
  /* So theres no actual knowledge if works propperly on other colored images*/

  /* Pink Filter*/
  --pfilter: brightness(26%) sepia(1) saturate(202%) hue-rotate(-73deg);

  /* Charcoal Filter*/
  --cCfilter: brightness(59%) sepia(1) saturate(45%) hue-rotate(175deg);

  /* Green Filter*/
  --gfilter: brightness(35%) sepia(1) saturate(540%) hue-rotate(95deg);

  /* Red Filter*/
  --rfilter: brightness(24%) sepia(1) saturate(1840%) hue-rotate(-19deg);

  /*-- Color Font --*/

  --charcoalfont: #adbbc7;
  --pinkfont: #764753;
  --greenfont: #00bd4f;

  /*-- Transparent colors for Hovers or some borders --*/

  --dTrA: #ff003736;
  --dTrB: #40404052;

  --wTr: #ffffff1a;
  --bTr: #00000052;

  --wTrB: #80808052;

  --pTrB: #79435652;

  --ccTrB: #8f8f8f52;

  --gTrB: #00953f1c;

  --rTrA: #c1151552;
  --rTrB: #e9372c54;
  /* Border */

  --pborder: #b28590;
  --gborder: #0f803c;
  --rborder: #c11515;
  /*-- Colors --*/

  --credish: #ff0037;
  --cgrayone: #8f8f8f;
  --cgraytwo: #404040;
  --cgraythree: #b0b0b0;
  --cgrayfour: #1f1f1f;
  --cmagish: #794356;
  --clighterGreen: #00953f;
  --clighterRed: #e9372c;
  --accentPink: #ece3e3;
  /*--FONTS/bootstrap--*/

  --bs-body-font-family: "Mona-Sans";
}

* {
  padding: 0;
  margin: 0;
  transition: background 600ms;
  transition: background-color 600ms;
  -moz-transition: background-color 600ms; /* Firefox 4 */
  -webkit-transition: background-color 600ms; /* Safari and Chrome */
  -o-transition: background-color 600ms;
}

@font-face {
  font-family: "Hubot-Sans-EBWI";
  src: url("assets/font/Hubot-Sans-ExtraBoldWideItalic.ttf");
}

@font-face {
  font-family: "Mona-Sans";
  src: url("assets/font/Mona-Sans-Medium.ttf");
}

img,
image {
  pointer-events: none;
}

h3 {
  font-weight: 600 !important;
}

h1,
h2,
h3,
h4,
h5,
.etapa {
  font-family: "Hubot-Sans-EBWI";
  color: var(--header) !important;
}

p,
button,
a,
text,
label {
  font-family: "Mona-Sans";
}

p,
i,
label,
.dropdown-item,
.btn {
  color: var(--cfont) !important;
}

.btn-edit:hover i {
  transform: scale(1.07);
}

body,
.dropdown-menu {
  background: var(--neutral) !important;
  background-attachment: fixed;
  background-position: center;
}

.main-container > * > * {
  border: 1px solid var(--cborder) !important;
  border-radius: 5px;
}

.c-padding-2 {
  padding: 2em;
}

.c-margin-bottom-1 {
  margin-bottom: 1em;
}

.btn,
.dropdown-menu {
  border: 1px solid var(--cborder) !important;
}

.dropdown-item {
  --bs-dropdown-link-active-bg: var(--ohasec);
  --bs-dropdown-link-hover-bg: var(--cborder);
}

.btn-sec:hover {
  background-color: var(--wTr);
  box-shadow: 0 0 17px var(--hoverSec);
}

.btn-prim:hover {
  background-color: var(--wTr);
  box-shadow: 0 0 17px var(--hoverPrim);
}

.btn-sec {
  border-color: var(--secundary) !important;
  color: var(--secundary) !important;
  font-weight: bold;
}

.btn-prim {
  border-color: var(--primary) !important;
  color: var(--primary) !important;
  font-weight: bold;
}
.btn-edit {
  background-color: unset;
  border: unset;
  width: fit-content;
  height: fit-content;
}

button:hover ~ .cursor,
[type="button"]:hover ~ .cursor {
  transform: scale(2.5) !important;
}

.logo {
  width: 90px;
  user-select: none;
  filter: var(--cfilterBW);
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 1.3em;
  gap: 1em;
}

.cnt-btn-info {
  padding: 4em 2em 2em 2em;
}
